* {
    margin: 0;
    padding: 0;
}

html, body {
    background: #000;
}

#aschVideo {
    cursor: pointer;
    z-index: 2;
    background: #000;
}

#aschVideo .openLeft {
    position: absolute;
    top: 0;
    /*left: 0;*/
    width: 50%;
    height: 122%;
    background: #fff;
    /*z-index: 2;*/
    -webkit-animation: openLeft 1s;
    animation: openLeft 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#aschVideo .openRight {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 122%;
    background: #fff;
    /*z-index: 2;*/
    -webkit-animation: openRight 1s;
    animation: openRight 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#aschVideo .closeLeft {
    position: absolute;
    top: 0;
    /*left: 0;*/
    margin-left: -50%;
    width: 50%;
    height: 122%;
    background: #fff;
    /*z-index: 2;*/
}

#aschVideo .closeLeftAnimation{
    -webkit-animation: closeLeft .5s;
    animation: closeLeft .5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#aschVideo .closeRightAnimation{
    -webkit-animation: closeRight .5s;
    animation: closeRight .5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#aschVideo .closeRight {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -50%;
    width: 50%;
    height: 122%;
    background: #fff;
    /*z-index: 2;*/
}

@-webkit-keyframes closeLeft {
    0% {
        margin-left: -50%;
        z-index: 1;
    }
    100% {
        margin-left: 0;
        z-index: 2;
    }
}
@keyframes closeLeft {
    0% {
        margin-left: -50%;
        z-index: 1;
    }
    100% {
        margin-left: 0;
        z-index: 2;
    }
}

@-webkit-keyframes closeRight {
    0% {
        margin-right: -50%;
        z-index: 1;
    }
    100% {
        margin-right: 0;
        z-index: 2;
    }
}
@keyframes closeRight {
    0% {
        margin-right: -50%;
        z-index: 1;
    }
    100% {
        margin-right: 0;
        z-index: 2;
    }
}

@-webkit-keyframes openLeft {
    0% {
        margin-left: 0;
        z-index: 2;
    }
    100% {
        margin-left: -50%;
        z-index: 1;
    }
}
@keyframes openLeft {
    0% {
        margin-left: 0;
        z-index: 2;
    }
    100% {
        margin-left: -50%;
        z-index: 1;
    }
}

@-webkit-keyframes openRight {
    0% {
        margin-right: 0;
        z-index: 2;
    }
    100% {
        margin-right: -50%;
        z-index: 1;
    }
}
@keyframes openRight {
    0% {
        margin-right: 0;
        z-index: 2;
    }
    100% {
        margin-right: -50%;
        z-index: 1;
    }
}

@-webkit-keyframes aschVideo {
    0% {
        width: 1px;
        height: 1px;
        left: 50%;
        top: 50%;
        border-radius: 1px;
    }
    /*50%{*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*}*/
    100% {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 1000px;
    }
    /*100% {*/
    /*width: 1px;*/
    /*height: 1px;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*border-radius: 1px;*/
    /*}*/
}
@keyframes aschVideo {
    0% {
        width: 1px;
        height: 1px;
        left: 50%;
        top: 50%;
        border-radius: 1px;
    }
    /*50%{*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*}*/
    100% {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 1000px;
    }
    /*100% {*/
    /*width: 1px;*/
    /*height: 1px;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*border-radius: 1px;*/
    /*}*/
}

@-webkit-keyframes aschVideo1 {
    0% {
        width: 1px;
        height: 1px;
        left: 50%;
        top: 50%;
        background: #000;
        border-radius: 1px;
    }
    100% {
        left: 0;
        top: 0;
        width: 1000px;
        height: 1000px;
        background: #000;
        border-radius: 1000px;
    }
}
@keyframes aschVideo1 {
    0% {
        width: 1px;
        height: 1px;
        left: 50%;
        top: 50%;
        background: #000;
        border-radius: 1px;
    }
    100% {
        left: 0;
        top: 0;
        width: 1000px;
        height: 1000px;
        background: #000;
        border-radius: 1000px;
    }
}